@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'cloister';
  src: url('../assets/fonts/CloisterBlack.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid #ECC03D;
  background-color: black;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #ECC03D;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #ECC03D;
}

.titulo_header{
  color: white;
  text-shadow: 5px 10px 10px #ECC03D;
  margin: 0 auto;
  font-family: 'cloister';
  font-size: 4.5em;
  font-weight: 600;
  padding: 2% 0%;
}


/* .titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
} */

.logo{
  width: 10vw;
}


/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  color: white;
  background-image: url(".././assets/imgs/bg-jelly-fish-para_outras_pags.png");
  background-size: cover;
}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* main */

.main{
  background-image: url('https://miro.medium.com/max/1400/1*839ZqvPD-lTBt_PQsc7x9g.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}

.principal_main{
  background-color: #59656ffa;
  border: #e3b062 solid 5px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
}

.img_main{
  width: 35vw;
  background-image: url("https://images.squarespace-cdn.com/content/v1/553fcf0ee4b0c0a025328f04/1477060853847-CR6EUKEF4APD3D3MEIHS/sabotage?format=1000w");
  background-position: center;
  background-size: cover;
  height: 75vh;
  margin: 3%;
  display: flex;
}

.next{
  background-image: url('../assets/imgs-pi/forward.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #ECC03D;
  width: 5vw;
  height: 7vh;
  margin-left: 90%;
  margin-top: 50%;
}

/* .back{
  background-color: blue;
  width: 10vw;
  height: 10vh;
  margin-top: 45%;
} */

.img_main2{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Emicida_Festival_Sensacional_2020.jpg/1200px-Emicida_Festival_Sensacional_2020.jpg");
}

.img_sabota{
  width: 35vw;
  padding: 3% 0% 3% 3%;
}

.player_sabota{
  border: #000000 solid 2px;
  width: 5vw;
  height: 5vh;
  background-color: #ECC03D; 
  padding: 2% 0% 2% 0%;
  margin-bottom: 2%;
  border-radius: 200px;
  margin-left: 43%;
}

#spn_play{
  width: 5vw;
  height: 7vh;
  margin: 0 auto;
  text-align: center;
}

#spn_pause{
  width: 5vw;
  height: 7vh;
  margin: 0 auto;
  text-align: center;
}

.pause, .play{
  width: 2vw;
}

.box-links{
  background-image: url('https://pbs.twimg.com/media/Eov-cNoWMAIHMn_.jpg:large');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35vw;
  height: 75vh;
  margin: 1% 0% 0% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-links h2{
  color: white;
  font-family: 'cloister', sans-serif;
  text-align: center;
  font-size: 4.5em;
  text-shadow: 2px 2px 10px #ECC03D;
  margin-top: -1%;
  font-weight: 300;
}


.box-list{
  display: flex;
  width: 30vw;
  height: 55vh;
  margin-top: -12%;
}

.list-links{
  color: #ECC03D;
  font-size: 1.7em;
  font-weight: 600;
  margin-top: 10%;
}


.list-links li{
  padding: 5% 0%;
}

.list-links li:nth-child(2){
  margin-left: 10%;
}

.list-links li:nth-child(3){
  margin-left: 20%;
}

.list-links li:nth-child(4){
  margin-left: 30%;
}

.list-links li:nth-child(5){
  margin-left: 40%;
}

.list-links a{
  color: white;
  text-decoration: none;
}


/* FOOTER */

.footer {
  background-color: #e3b062;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
}


/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}